<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{page_title}}</title>	
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/mystyle.css">
</head>
<body>  <!-- the main layout -->
<div class="container">

   <nav class="nav navbar-dark bg-dark">
         <a class="navbar-brand" href="/"><img src="/images/p3-logo.jpeg" height='50px'/></a> 
         <a class="nav-link" href="/">Welcome</a>
         <a class="nav-link" href="/bookflights" class="nav-link">Pick a Flight</a> 
    
   </nav>    <!-- end nav-bar -->

    {% block content %} {% endblock %}  <!-- subtemplate injected here -->

  <div class="footer">
      <br/>
      <br/>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; Sun and Fun</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; &copy; Sun and Fun Inc.</p>
		
  </div>
</div>   <!-- end class='container'  -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>